In [1]:
import pandas as pd
import numpy as np

 # 크롤링에 필요한 주소 복사

In [2]:
# 크롤링으로 가져올 주소를 복사합니다.
url = "https://www.seoul.go.kr/coronaV/coronaStatus.do"
url

'https://www.seoul.go.kr/coronaV/coronaStatus.do'

 # read_html로 크롤링할 주소 불러오기

In [3]:
# 판다스의 read_html을 통해 html주소를 불러옵니다.
table=pd.read_html(url)
table

[     강남구    강동구   강북구    강서구    관악구    광진구    구로구   금천구    노원구   도봉구   동대문구  \
 0  15912  11383  7805  12613  14233   9059  12652  6854  12176  8019  11227
 1   +255   +214   +85   +216   +306   +187   +139   +75   +219   +90   +131
 2   서대문구    서초구   성동구    성북구    송파구    양천구   영등포구   용산구    은평구   종로구     중구
 3   7655  10685  7140  11557  17022  10218  12456  6698  11445  4727   4439
 4    +90   +186  +119   +147   +306   +209   +154  +101    +99   +59    +35

      동작구    마포구
 0  10764   9580
 1   +182   +170
 2    중랑구     기타
 3  10256  20750
 4   +127   +292  ,
       강남구    강동구    강북구    강서구    관악구    광진구
 0   15912  11383   7805  12613  14233   9059
 1    +255   +214    +85   +216   +306   +187
 2     구로구    금천구    노원구    도봉구   동대문구    동작구
 3   12652   6854  12176   8019  11227  10764
 4    +139    +75   +219    +90   +131   +182
 5     마포구   서대문구    서초구    성동구    성북구    송파구
 6    9580   7655  10685   7140  11557  17022
 7    +170    +90   +186   +119   +147   +306
 8     양천구   영등포구    용산구    은평구    종로구     중구
 9   10218  12456   6698  11445   4727   4439
 10   +209   +154   +101    +99    +59    +35
 11    중랑구     기타    NaN    NaN    NaN    NaN
 12  10256  20750    NaN    NaN    NaN    NaN
 13   +127   +292    NaN    NaN    NaN    NaN,
       구 분   합 계  9세 이하  10세~19세  20세~29세  30세~39세  40세~49세  50세~59세  60세~69세  \
 0  확진자(명)  4193  375.0    725.0   1052.0    718.0    632.0    364.0    220.0
 1   비율(%)   100    8.9     17.3     25.1     17.1     15.1      8.7      5.2

    70세 이상
 0   107.0
 1     2.6  ,
        일자     1.30    1.29.     1.28.     1.27.     1.26.     1.25.     1.24.
 0  검사자(명)  74831.0  95592.0  150422.0  137908.0  126349.0  119881.0  114653.0
 1  확진자(명)   4193.0   4185.0    4199.0    3991.0    3429.0    3178.0    1723.0
 2  확진율(%)      4.4      2.8       3.0       3.2       2.9       2.8       3.0,
        소계  해외 유입  송파구 소재 교정시설 관련 ('22.1.)  노원구 소재 음식점 관련(‘22.1.)  \
 0  277325   4547                       63                     37

    서대문구 소재 요양시설 관련  은평구소재 어린이집 관련(‘22.1(2))  기타 집단감염  기타 확진자 접촉  감염 경로 조사중
 0               19                       13    38341     120760     113545  ,
                        일                      월                      화  \
 0                    NaN                    NaN                    NaN
 1   2  227,866  (+1,180)     3  228,856  (+990)     4  229,793  (+937)
 2     9  235,397  (+961)    10  236,179  (+781)    11  236,933  (+755)
 3    16  241,768  (+923)    17  242,556  (+788)    18  243,318  (+762)
 4  23  250,748  (+1,694)  24  252,427  (+1,679)  25  254,150  (+1,723)
 5  30  273,132  (+4,185)  31  277,325  (+4,193)                    NaN

                        수                      목                      금  \
 0                    NaN                    NaN                    NaN
 1   5  231,203  (+1,410)   6  232,411  (+1,208)   7  233,446  (+1,035)
 2  12  238,024  (+1,091)    13  239,001  (+977)    14  239,938  (+937)
 3  19  244,551  (+1,230)  20  245,913  (+1,362)  21  247,464  (+1,551)
 4  26  257,328  (+3,178)  27  260,757  (+3,429)  28  264,748  (+3,991)
 5                    NaN                    NaN                    NaN

                        토
 0   1  226,686  (+1,463)
 1     8  234,436  (+990)
 2    15  240,848  (+910)
 3  22  249,054  (+1,591)
 4  29  268,947  (+4,199)
 5                    NaN  ]

In [4]:
#서울시 코로나 데이터는 html에 6개의 테이블로 구성되어 있음
len(table)

6

In [5]:
table[1]

      강남구    강동구    강북구    강서구    관악구    광진구
0   15912  11383   7805  12613  14233   9059
1    +255   +214    +85   +216   +306   +187
2     구로구    금천구    노원구    도봉구   동대문구    동작구
3   12652   6854  12176   8019  11227  10764
4    +139    +75   +219    +90   +131   +182
5     마포구   서대문구    서초구    성동구    성북구    송파구
6    9580   7655  10685   7140  11557  17022
7    +170    +90   +186   +119   +147   +306
8     양천구   영등포구    용산구    은평구    종로구     중구
9   10218  12456   6698  11445   4727   4439
10   +209   +154   +101    +99    +59    +35
11    중랑구     기타    NaN    NaN    NaN    NaN
12  10256  20750    NaN    NaN    NaN    NaN
13   +127   +292    NaN    NaN    NaN    NaN

In [6]:
table[1].T    # .T 랑.transpose()는 행과 열을 바꿈

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
강남구,15912,+255,구로구,12652,+139,마포구,9580,+170,양천구,10218,+209,중랑구,10256,+127
강동구,11383,+214,금천구,6854,+75,서대문구,7655,+90,영등포구,12456,+154,기타,20750,+292
강북구,7805,+85,노원구,12176,+219,서초구,10685,+186,용산구,6698,+101,NaN,NaN,NaN
강서구,12613,+216,도봉구,8019,+90,성동구,7140,+119,은평구,11445,+99,NaN,NaN,NaN
관악구,14233,+306,동대문구,11227,+131,성북구,11557,+147,종로구,4727,+59,NaN,NaN,NaN
광진구,9059,+187,동작구,10764,+182,송파구,17022,+306,중구,4439,+35,NaN,NaN,NaN

In [7]:
url2="https://www.mapo.go.kr/site/main/content/mapo031002#non"
url2

'https://www.mapo.go.kr/site/main/content/mapo031002#non'

In [8]:
table2=pd.read_html(url2)
table2

[        확진자 번호        확진일            감염경로  비고
 0    9613~9620  1. 30.(일)            확인 중 NaN
 1    9611~9612  1. 30.(일)          확진자 접촉 NaN
 2         9610  1. 30.(일)            확인 중 NaN
 3    9607~9609  1. 30.(일)          확진자 접촉 NaN
 4    9605~9606  1. 30.(일)            확인 중 NaN
 ..         ...        ...             ...  ..
 744       8269  1. 19.(수)  마포구 확진자 접촉(가족) NaN
 745       8268  1. 19.(수)  마포구 확진자 접촉(가족) NaN
 746       8267  1. 19.(수)            본인판단 NaN
 747       8266  1. 19.(수)            본인판단 NaN
 748       8265  1. 19.(수)            본인판단 NaN

 [749 rows x 4 columns]]

In [9]:
df=table2[0]
df

        확진자 번호        확진일            감염경로  비고
0    9613~9620  1. 30.(일)            확인 중 NaN
1    9611~9612  1. 30.(일)          확진자 접촉 NaN
2         9610  1. 30.(일)            확인 중 NaN
3    9607~9609  1. 30.(일)          확진자 접촉 NaN
4    9605~9606  1. 30.(일)            확인 중 NaN
..         ...        ...             ...  ..
744       8269  1. 19.(수)  마포구 확진자 접촉(가족) NaN
745       8268  1. 19.(수)  마포구 확진자 접촉(가족) NaN
746       8267  1. 19.(수)            본인판단 NaN
747       8266  1. 19.(수)            본인판단 NaN
748       8265  1. 19.(수)            본인판단 NaN

[749 rows x 4 columns]

 # shape로 행,열의 개수 알아보기

In [10]:
# .shape은 몇개의 행과 열이 있는지 알 수 있음
df.shape

(749, 4)

In [11]:
df.head()

      확진자 번호        확진일    감염경로  비고
0  9613~9620  1. 30.(일)    확인 중 NaN
1  9611~9612  1. 30.(일)  확진자 접촉 NaN
2       9610  1. 30.(일)    확인 중 NaN
3  9607~9609  1. 30.(일)  확진자 접촉 NaN
4  9605~9606  1. 30.(일)    확인 중 NaN

 # iloc[]와 loc[]

In [12]:
#가장 최근의 확진자 정보를 가져온다.
df.loc[0]        #loc[]는 레이블 기반

확진자 번호    9613~9620
확진일       1. 30.(일)
감염경로           확인 중
비고              NaN
Name: 0, dtype: object

In [13]:
#가장 최근 확진자의 확진일 정보를 가져온다.
#loc[행, 열]은 레이블 기반이다. column을 가져올때 column의 레이블을 가져온다.
df.loc[0, "확진일"]

'1. 30.(일)'

In [14]:
#iloc[행, 열]는 정수기반이다. column을 가져올 때 column의 index를 가져온다.
#이 방법이 훨씬 빠르다.
df.iloc[0, 1]

'1. 30.(일)'

In [15]:
%timeit df.iloc[0, 1]

40.1 µs ± 798 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [16]:
#iloc[행]["컬럼명"]이렇게 해서 인덱싱 할수도 있다.
#이 방법은 위에 방법보다 훨씬 느리다.
df.iloc[0]["확진일"]

'1. 30.(일)'

In [17]:
%timeit   df.iloc[0]["확진일"]

193 µs ± 26.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [18]:
last_day=df.loc[0, "확진일"]   #loc[]는 행값에 -1처럼 -값을 입력하지 못한다
last_day=last_day.replace(" ", "")
last_day

'1.30.(일)'

In [19]:
first_day=df.iloc[-1, 1]   #iloc[]는 행값에 -1처럼 -값 입력 가능하다.
first_day=first_day.replace(" ", "")
first_day

'1.19.(수)'

 # 파일명 만들기

In [20]:
#파일명을 만들어 줍니다.
file_name_csv=f"{first_day}~{last_day}의 마포구 확진자.csv"
file_name_csv_excel=f"{first_day}~{last_day}의 마포구 확진자.csv"

 # to_csv로 csv파일로 저장

In [21]:
#인덱스는 빼고 csv파일로 저장합니다.
df.to_csv(file_name_csv, index=False)

 # read_csv로 csv파일 읽는법

In [22]:
#제대로 저장되었는지 확인합니다.
pd.read_csv(file_name_csv)

        확진자 번호        확진일            감염경로  비고
0    9613~9620  1. 30.(일)            확인 중 NaN
1    9611~9612  1. 30.(일)          확진자 접촉 NaN
2         9610  1. 30.(일)            확인 중 NaN
3    9607~9609  1. 30.(일)          확진자 접촉 NaN
4    9605~9606  1. 30.(일)            확인 중 NaN
..         ...        ...             ...  ..
744       8269  1. 19.(수)  마포구 확진자 접촉(가족) NaN
745       8268  1. 19.(수)  마포구 확진자 접촉(가족) NaN
746       8267  1. 19.(수)            본인판단 NaN
747       8266  1. 19.(수)            본인판단 NaN
748       8265  1. 19.(수)            본인판단 NaN

[749 rows x 4 columns]

 # 인덱스 제외하고 엑셀형태의 csv파일 형태로 저장하는법

In [23]:
#인덱스는 빼고 엑셀형태의 csv파일로 저장합니다.
df.to_csv(file_name_csv_excel, index=False, encoding="cp949")

 # 엑셀형태의 csv파일 읽는 법

In [24]:
#제대로 저장되었는지 확인합니다.
pd.read_csv(file_name_csv_excel, encoding="cp949")

        확진자 번호        확진일            감염경로  비고
0    9613~9620  1. 30.(일)            확인 중 NaN
1    9611~9612  1. 30.(일)          확진자 접촉 NaN
2         9610  1. 30.(일)            확인 중 NaN
3    9607~9609  1. 30.(일)          확진자 접촉 NaN
4    9605~9606  1. 30.(일)            확인 중 NaN
..         ...        ...             ...  ..
744       8269  1. 19.(수)  마포구 확진자 접촉(가족) NaN
745       8268  1. 19.(수)  마포구 확진자 접촉(가족) NaN
746       8267  1. 19.(수)            본인판단 NaN
747       8266  1. 19.(수)            본인판단 NaN
748       8265  1. 19.(수)            본인판단 NaN

[749 rows x 4 columns]